<!DOCTYPE html>

<title>Player</title>

{% block body %}
    <h1>Player</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ player.id }}</td>
            </tr>
            <tr>
                <th>Account_name</th>
                <td>{{ player.accountName }}</td>
            </tr>
            <tr>
                <th>Match_win</th>
                <td>{{ player.matchWin }}</td>
            </tr>
            <tr>
                <th>Match_lose</th>
                <td>{{ player.matchLose }}</td>
            </tr>
            <tr>
                <th>Match_draw</th>
                <td>{{ player.matchDraw }}</td>
            </tr>
            <tr>
                <th>Redcard</th>
                <td>{{ player.redcard }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('player_index') }}">back to list</a>

    <a href="{{ path('player_edit', {'id': player.id}) }}">edit</a>

    {{ include('player/_delete_form.html.twig') }}
{% endblock %}
